body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 400 18px/1.8 'Open Sans', serif;
	color: #666;
	overflow-x: hidden;
}

a {
  color: #808080;
}

nav {
    background: #DCDCDC;
}

li {
    line-height: 20px;
}

td {
  padding: 10px;
  line-height: 18px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 260px;
    text-align: left;
    font-weight: 300px;
    margin-top: 3px;
}

input {
  display: inline-block;
  float: left;
  margin-right: 5px;
}

.g-signin2 {
    float: right;
    margin: auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    height: 200px;
    background: white;
    margin-top: 5px;
    margin-bottom: 40;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
}

.navbar {
  margin: auto;
}

.hello,
.who-creates {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	text-transform: none;
	margin: 15px 0;
}

.jumbotron {
  margin-left: auto;
  margin-right: auto;
}

#status,
.status-mes {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#sign-out {
    float: right;
    margin-right: 1%;
    margin-top: auto;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #696969;
}


#home {
	background: url(../images/hero.jpg);
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	padding: 0;
}

#query {
    color: black;
    font-size: 16px;
}

#queryButton {
    font-size: 16px;
    line-height: 26px;
    width: 180px;
}

#icon {
    width: 25%;
    height: 200px;
    background: #80a4d0;
    float: left;
    padding-left: 3%;
    display: inline-block;
}
#title {
    font-size: 48px;
    line-height: 48px;
    color: white;
    font-weight: bold;
}
#navbar {
    float: left;
    margin-top: 20px;
    margin-left: auto;
    display: inline-block;
}
