body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #808080;
}

nav {
    background: #DCDCDC;
}

li {
    line-height: 20px;
}

td {
  padding: 10px;
  line-height: 18px;
}

.g-signin2 {
    position: absolute;
    bottom: 70px;
    right: 145px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#sign-out {
    position: absolute;
    bottom: 48px;
    right: 155px;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #696969;
}

.container {
    width: 80%;
    height: 200px;
    background: white;
    margin: 40px;
    margin-left: 100px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
}

#query {
    color: black;
    font-size: 18px;
}

#queryButton {
    font-size: 18px;
}

#icon {
    width: 25%;
    height: 200px;
    background: red;
    float: left;
    padding-left: 15px;
    display: inline-block;
}
#title {
    font-size: 48px;
    line-height: 48px;
    color: white;
    font-weight: bold;
}
#navbar {
    float: left;
    margin-top: 14px;
    margin-right: 20px;
    display: inline-block;
}
